<section id="section-forms">
    <div class="container center">
        <div class="heading">
            <h2 class="heading__title">New Patient Forms</h2>
        </div>
        <p class="forms__byline">We are excited to have you as a new patient. Dr. Langan hopes you enjoy your experience
            here. Our doctor and staff will do everything with your best interest in mind. Please take a few minutes to
            review this letter and our policies before&nbsp;you&nbsp;arrive&nbsp;for&nbsp;your&nbsp;first&nbsp;appointment.</p>
        <div class="forms__btn-wrapper">
            <a href="/Pt_Info___Health_Hx_New.pdf" target="_blank" class="btn btn--style-two">New Patient Health History</a>
            <a href="/Welcome_Letter___Financial_Policy_for_Website.pdf" target="_blank" class="btn btn--style-two">Welcome / Financial Policy</a>
        </div>
        <p class="forms__copy">Adobe Acrobat is required to view the patient disclosure, health history form, and the
            motivational charts. If you have trouble seeing the forms or need accommodation, please contact our office.
            <a href="https://acrobat.adobe.com/us/en/free-trial-download.html" target="_blank">Click here to download the Acrobat Acrobat® software.</a></p>
    </div>
</section>
