<section id="section-services">
    <div class="heading">
        <div class="container">
            <h2 class="heading__title">OUR SERVICES</h2>
            <p class="heading__byline">Select an item in the grid below to learn more.</p>
        </div>
    </div>

    <div class="implant-slab">
        <div class="container">
            <div class="row">
                <div class="implant-slab__card col-sm-7 col-sm-push-5">
                    <h2 class="implant-slab__title">IMPLANT DENTISTRY</h2>
                    <p class="implant-slab__copy">Dental implants are a great option for replacing missing teeth,
                        improving chewing ability, eliminating bridges, and replacing dentures.</p>
                    <p class="implant-slab__copy">Several implants may provide a base for a series of artificial teeth
                        known as a fixed bridge. Implants can even be used to secure a full set of removable dentures
                        for people who have no remaining natural teeth.</p>
                    <a href="http://www.norfolkimplantdentist.com/" target="_blank" class="btn">Learn More</a>
                </div>
            </div>
        </div>
        <div class="hidden-lg hidden-md hidden-sm slab-mobile-image">
            <img src="assets/services/implant-dentistry-mobile.jpg" alt="Happy dental implant patient">
        </div>
    </div>

    <div class="dentures-slab">
        <div class="container">
            <div class="row">
                <div class="dentures-slab__card col-sm-6">
                    <h2 class="dentures-slab__title">COSMETIC DENTURES</h2>
                    <p class="dentures-slab__copy">A well made denture is not only comfortable and functions properly; it also allows the wearer to smile with confidence, knowing that their smile is no different than it would be with natural teeth. Creating a cosmetic denture is really an art in the hands of a skilled dentist like Dr. Langan.</p>
                    <a href="http://www.norfolkdenturesdentist.com/" target="_blank" class="btn">Learn More</a>
                </div>
            </div>
        </div>
        <div class="hidden-lg hidden-md hidden-sm slab-mobile-image">
            <img src="assets/services/cosmetic-dentures-mobile.jpg" alt="Happy cosmetic dentures patient">
        </div>
    </div>


    {% include 'molecules/services__pyramid-grid.twig' %}

    {% include 'molecules/services__modals.twig' %}


</section>