<section id="section-tour" class="tour">

    <div class="container">
        <div class="heading center">
            <h2 class="heading__title">VISIT OUR OFFICE</h2>
            <p class="heading__copy">What do you want in a dental office? At Langan Dental Health & Implant Center, we
                pride ourselves in providing a place that’s warm and welcoming, family friendly, comfortable,
                understanding, and informative. Dr. Langan has the experience and expertise to create the smile you’ve
                always wanted. Come&nbsp;visit&nbsp;us&nbsp;today!</p>
        </div>
        <div class="tour__video-wrapper">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/67bOj66I9aA" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>

</section>