.tour {
  background-color: #1c1c60;
  color: #fff;
  padding-top: 45px;
  padding-bottom: 45px;

  .heading {
    &__title {
      color: #fff;
      margin-bottom: 10px;
    }

    &__copy {
      line-height: 1.5;
    }
  }

  &__video-wrapper {
    padding: 30px 15px;

    @media (min-width: 768px) {
      padding: 30px 45px;
    }

    @media (min-width: 768px) {
      padding: 45px 60px;
    }
  }
}
